html, body, .container, .row {
    height:100%;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Style+Script&display=swap');
.margin-class{
    margin: 200px;
    height: 500px;
}
h1{
    font-family: 'Merriweather', serif;
}
.button {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  .login{
      padding-top: 30px;
  }
  .btn-dark{
      background-color: #031324;;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  .margin{
      padding:50px 50px 50px 50px;
  }
  
  #forget_password{
    color: aliceblue;
    text-decoration: underline;
    padding-top: 20px;
  }